* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: math;
}
.mylist li:hover {
  scale: 1.2;
  transition: 2s;
}
a {
  text-decoration: none;
  color: #fff;
}
.active {
  border-bottom: solid;
}

.container {
  background-image: url(Image/fin.jpg);

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2vh;

  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "nav"
    "herro"
    "herro"
    "herro"
    "herro"
    "herro"
    "herro"
    "footer";
}
.logo {
  align-self: center;
}
.logo-text {
  font-size: 7vmin;
  font-family: "Black Ops One", cursive;
  box-shadow: 1px 2px 0 0, 1px -1px 0 0px;
  border-radius: 227px;
  scale: 0.7;
}
nav {
  height: 12vh;
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(0 0 0 / 62%);
}
nav ul {
  list-style: none;
  display: flex;
  column-gap: 10vw;
  font-size: 4vmin;
}
.herro {
  justify-content: space-evenly;
  grid-area: herro;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.heroinfo {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-template-areas:
    "hero-text"
    "Button";
  gap: 20px;
}
.hero-text {
  grid-area: hero-text;
}

.animation {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white;
  animation: typing 2.5s steps(22), cursor 1s step-end 5s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes cursor {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}
.Button {
  /* for the class that contain the button and a */
  grid-area: Button;
}
.Button a {
  font-size: 3vmin;
}
button {
  /*For the button */
  background: #efefef;
  height: 6vh;
  color: black;
  font-size: 3vmin;
  transition: 2s;
  border-radius: 15px;
}
button:hover {
  scale: 1.08;
  background: #0e0e0e;
  color: white;
  transition: 2s;
}
img {
  height: auto;
  border-radius: 8vmin;
  width: 30%;
}
footer {
  align-self: end;
  height: 10vh;
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;
  background: rgb(0 0 0 / 62%);
}
.foter_icon {
  display: flex;
  gap: 15px;
}
.foter_icon i:hover {
  scale: 1.2;
  transition: 2s;
}

@media (max-width: 646px) {
  .herro {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }


}

@media (max-width: 457px) {
  img {
    width: 80%;
  }
}

h1 {
  font-size: 5vmin;
}
