* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: math;
}

a {
  text-decoration: none;
  color: #fff;
}
.active {
  border-bottom: solid;
}
.mylist li:hover {
  scale: 1.2;
  transition: 2s;
}

.incontainer {
  background-image: url(Image/fin.png);

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2vh;

  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "nav"
    "inherro"
    "inherro"
    "inherro"
    "inherro"
    "inherro"
    "inherro"
    "infooter";
}
.logo {
  align-self: center;
}
.logo-text {
  font-size: 7vmin;
  font-family: "Black Ops One", cursive;
  box-shadow: 1px 2px 0 0, 1px -1px 0 0px;
  border-radius: 227px;
  scale: 0.7;
}
nav {
  height: 12vh;
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(0 0 0 / 62%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
nav ul {
  margin: auto;
  list-style: none;
  display: flex;
  column-gap: 10vw;
  font-size: 4vmin;
}
.inherro {
  gap: 8vh;
  justify-content: space-evenly;
  grid-area: inherro;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.inherro h1 {
  font-size: 5vmin;
}
.infooter {
  align-self: end;
  height: 10vh;
  grid-area: infooter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;
  background: rgb(0 0 0 / 62%);
}

.card_link :hover {
  transform: scale(1.05);
  transition: 2s;
}
.card-body {
  background-color: #070707;
  border-radius: 0 0 24px 24px;
  color: #fff;
}
.card-title {
  text-align: center;
}
.card {
  border: none;
  border-radius: 24px 24px;
}
img {
  border-radius: 24px 24px 0 0 !important;
  height: 40vh;
}

.foter_icon {
  display: flex;
  gap: 15px;
}
.foter_icon i:hover {
  scale: 1.2;
  transition: 2s;
}
@media (max-width: 800px) {
  .incontainer {
    height: 100%;
    width: 100vw;
  }
}
@media (min-height: 1172px) {
  .incontainer {
    height: 100vh;
  }
}
@media (max-width: 362px) {
  .cardALL {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .col {
    align-self: center;
    width: 80%;
  }
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
